# {{namespace}}/{{project}}

**TODO:** Enter a short description of the project here.

## Badges

![GitHub top language](https://img.shields.io/github/languages/top/{{organization}}/{{project}}?logo=typescript)
![GitHub License](https://img.shields.io/github/license/{{organization}}/{{project}}?logo=github)
![GitHub Release](https://img.shields.io/github/v/release/{{organization}}/{{project}}?logo=github)
![GitHub commit activity](https://img.shields.io/github/commit-activity/t/{{organization}}/{{project}}?logo=github)
![GitHub Issues or Pull Requests](https://img.shields.io/github/issues-raw/{{organization}}/{{project}}?logo=github)
![GitHub Issues or Pull Requests](https://img.shields.io/github/issues-pr/{{organization}}/{{project}}?logo=github)

![GitHub Actions Workflow Status](https://img.shields.io/github/actions/workflow/status/{{organization}}/{{project}}/release.yml?label=release&logo=github)
![GitHub Actions Workflow Status](https://img.shields.io/github/actions/workflow/status/{{organization}}/{{project}}/upgrade-main.yml?label=upgrade-main&logo=github)

![NPM Version](https://img.shields.io/npm/v/%40{{organization}}%2F{{project}}?logo=npm)
![NPM Last Update](https://img.shields.io/npm/last-update/%40{{organization}}%2F{{project}}?logo=npm)
![NPM Downloads](https://img.shields.io/npm/dw/%40{{organization}}%2F{{project}}?logo=npm)

## Table of Contents

- [Installation](#installation)
- [Getting Started](#getting-started)
- [Contributing](#contributing)
- [License](#license)
- [Authors](#authors)
- [Acknowledgements](#acknowledgements)

## Installation

Install using `npm`, `yarn`, or `pnpm` (preferred).

```bash
pnpm add --save-dev {{namespace}}/{{project}}
```

**TODO:** Enter additional installation instructions here.

## Getting Started

**TODO:** Enter information here to document the project.

## Contributing

Fork this repository and submit a PR.

## Authors

- {{author}} ([{{authorEmail}}](mailto:{{authorEmail}}), github: {{authorGithubUser}})

## License

The project is covered by the {{license}} license, see [LICENSE](./LICENSE).

## Acknowledgements

**TODO:** Enter any acknowledgements here.
